.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #213547;
  transition: height 0.3s ease;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0.9;
  backdrop-filter: saturate(180%) blur(20px);
  justify-content: space-between;
  z-index: 1;

  .shoppingCart {
    height: 2em;
    padding: 1.5rem .4rem;
    will-change: filter;
    transition: filter 300ms;
    margin-right: 5rem;
    // position: relative;
    // right: 8rem;
  }
  .span{
    text-decoration: none;
    color:black;
    background-color:#fbd815 ;
    border-radius: 4px;
    border: none;
    font-size: x-large;
    position: relative;
    right: 6.2rem;
    bottom: 3rem;

  }

  .logo {
    height: 3em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    transform: scaleX(-1);


    &:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
  }
  .button{
    // height: 2rem;
    width: 6rem;
    padding: .5rem;
    font-size: large;
    background-color: #213547;
    color: white;
    border: none;
    margin-left: 50rem;
    // position: relative;
    // left: 20rem;
  }
  .buttonLO{
    width: 6rem;
    padding: .5rem;
    font-size: large;
    background-color: #213547;
    color: white;
    border: none;
  }
  @media screen and (max-width: 768px) {
    // Adjust styles for smaller screens
    width: auto;
    padding: 0.5rem 1rem;
    font-size: large;
    left: 1rem;
  }
}
