
<div>
  <header class="header">

    <div>
      <img src="../../assets/logo.svg" class="logo" alt="Shopping Cart Logo" />

    </div>
    <div>

        <button class="button" routerLink="userlogin">Login</button>

    </div>
    <div>
      <button class="buttonLO" (click)="logout()">Logout</button>
    </div>
    <div>
      <button class="buttonLO" routerLink="userregister">
        Registor
      </button>
    </div>
    <div>
     <a routerLink="cart">
      <img
        src="../../assets/shoppingcart.svg"
        class="shoppingCart"
        alt="go to Cart"
      />
      <span class="span"></span>
     </a>



    </div>
  </header>
</div>
